//-variables y configuracion del head--------------------------->
-pagetitle='inicio'
-sitetitle='Empresas ABC S.R.L'
-description='Lorem ipsum dolor sit amet consectetur'
-estilosCss='css/main-min.css'
-scripts='/js/scripts-min.js'
-iframe=true
-article=false

//-variables para la imagen del banner
-currentPage='inicio'

//-siguenos en contactos
//- -siguenos=true



-//variables del links del menu
-pages=['Inicio','servicios','portafolio','nosotros','contacto']